body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fcfcfc;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    justify-self: center;
}

.list-projects {
    list-style-type: none;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    gap: 5px;
    background: rgb(255, 255, 255);
    border-color: #ffffff;
    border-width: 5px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    box-shadow:0px 0px 5px 5px #eeeeee;
}

.list-projects li {
    background-color: rgb(250, 250, 250);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.list-projects li:hover{
    border-left: 5px #ae00ff solid;
}
.list-projects a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
.list-projects a:hover {
    color: #ae00ff;
    text-shadow: 0px 0px 5px #ae00ff;
}
.badstate {
    color: red;
    font-weight: bold;
}
.devstate {
    color: orange;
    font-weight: bold;
}
.goodstate {
    color: green;
    font-weight: bold;
}
header {
    align-self: center;
    justify-content: center;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: #ae00ff;
    border-radius: 15px;
    box-shadow:0px 0px 5px 5px #eeeeee;
}
.titre {
    text-align: center;
}
